:root {
  --bg-color: #DBE7E5;
  --main-color: #335650;
  --light-accent: #74AB4D;
  --dark-accent: #24413D;
  --red-color: #EA5672;
  --yellow-color: #E4DC53;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

.outerCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background-color: var(--main-color); 
}

.timerBarCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49vh;
  height: 49vh;
  border-radius: 50%;
  background-color: var(--light-accent); 
}

.innerCircle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46.5vh;
  height: 46.5vh;
  border-radius: 50%;
  background-color: var(--main-color); 
}

.innerColumnContainer{
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.timeContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5%;
  font-size: 4rem;
  font-weight: 700;
  font-family: "MuseoModerno", sans-serif;
  line-height: 100%;
}

.timeContainer.on{
  color: var(--light-accent);
}

.timeContainer.off{
  color: var(--dark-accent);
}

.buttonHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 5%;
}

.timerBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  padding: 2% 4% 2% 4%;
  border-radius: .5rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "MuseoModerno", sans-serif;
  color: var(--main-color);
  margin: 5% 0 0 0;
  user-select: none;
  transition: all .25s ease;
}
.timerBtn:hover{
  cursor: pointer;
  
}
.timerBtn.start{
  background: var(--bg-color);
  
}
.timerBtn.start:hover{
  background: var(--light-accent);
  color: var(--bg-color);
  transform: scale(1.1);
} 
.timerBtn.pause{
  background: var(--yellow-color);
}
.timerBtn.pause:hover{
  background: var(--yellow-color);
  transform: scale(1.1);
}
.timerBtn.reset{
  background: var(--red-color);
}
.timerBtn.reset:hover{
  background: var(--red-color);
  transform: scale(1.1);
}
.timerBtn.resume{
  background: var(--bg-color);
  color: var(--main-color);
}
.timerBtn.resume:hover{
/*   background: var(--bg-color);
  color: var(--main-color); */
  transform: scale(1.1);
}