:root {
  --bg-color: #DBE7E5;
  --main-color: #335650;
  --light-accent: #74AB4D;
  --dark-accent: #24413D;
  --red-color: #EA5672;
  --yellow-color: #E4DC53;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

.outerCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background-color: var(--main-color); 
}


.timerBarCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49vh;
  height: 49vh;
  border-radius: 50%;
  background-color: var(--light-accent); 
}

.innerCircle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46.5vh;
  height: 46.5vh;
  border-radius: 50%;
  background-color: var(--main-color); 
}

@media only screen and (max-width: 700px) {
  .outerCircle {
    width: 40vh;
    height:40vh;
  }
  .timerBarCircle {
    width: 39vh;
    height: 39vh;
  }
  .innerCircle{
    width: 36.5vh;
    height: 36.5vh;
  }
}
@media only screen and (max-height: 667px) {
  .outerCircle {
    width: 22rem;
    height:22rem;
  }
  .timerBarCircle {
    width: 21.5rem;
    height: 21.5rem;
  }
  .innerCircle{
    width: 20rem;
    height: 20rem;
  }
}

.innerColumnContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}
.timeContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 5%;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Martian Mono", monospace;
  line-height: 100%;
  user-select: none;
}

@media only screen and (max-width: 700px) {
  .timeContainer{
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1921px) {
  .timeContainer{
    font-size: 5rem;
  }
}


.timeContainer.on{
  color: var(--light-accent);
}

.timeContainer.off{
  color: var(--dark-accent);
}

.buttonHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: 5%;
  margin-top: 1rem;
  transition: all .5s ease;
}

.timerBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  padding: .5rem .7rem .5rem .7rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Martian Mono", monospace;
  color: var(--main-color);
  margin: 5% 0 0 0;
  user-select: none;
  transition: all .25s ease;

}
@media only screen and (min-width: 1921px) {
  .timerBtn{
    width: 7rem;
    padding: .5rem .7rem .5rem .7rem;
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 700px) {
  .timerBtn{
    width: 3rem;
    padding: .5rem .7rem .5rem .7rem;
    font-size: 1rem;
    margin: 0 0 0 0;
  }
}


.timerBtn:hover{
  cursor: pointer;
  
}
.timerBtn.start{
  background: var(--bg-color);
}
.timerBtn.start:hover{
  background: var(--light-accent);
  color: var(--bg-color);
  transform: scale(1.1);
} 
.timerBtn.pause{
  background: var(--yellow-color);
}
.timerBtn.pause:hover{
  background: var(--yellow-color);
  transform: scale(1.1);
}
.timerBtn.reset{
  background: var(--red-color);
}
.timerBtn.reset:hover{
  background: var(--red-color);
  transform: scale(1.1);
}
.timerBtn.resume{
  background: var(--bg-color);
  color: var(--main-color);
}
.timerBtn.resume:hover{
  transform: scale(1.1);
}
.timerBtn.loopOff{
  width: 8rem;
  background: var(--dark-accent);
  color: var(--bg-color);
}
.timerBtn.loopOff:hover{
  transform: scale(1.1);
}
.timerBtn.loopOn{
  width: 8rem;
  background: var(--light-accent);
  color: var(--bg-color);
}
.timerBtn.loopOn:hover{
  transform: scale(1.1);
}

@media only screen and (min-width: 1921px) {
  .timerBtn.loopOff{
    width: 10rem;
    background: var(--dark-accent);
    color: var(--bg-color);
  }
  .timerBtn.loopOn{
    width: 10rem;
    background: var(--light-accent);
    color: var(--bg-color);
  }
}
@media only screen and (max-width: 700px) {
  .timerBtn.loopOff{
    width: 5rem;
    background: var(--dark-accent);
    color: var(--bg-color);
  }
  .timerBtn.loopOn{
    width: 5rem;
    background: var(--light-accent);
    color: var(--bg-color);
  }
}
